<div class="container-fluid h-100">
    <%= form_with model:@genre_find,url:admin_genre_path(@genre_find.id),method: :patch,class:"row" do |f| %>
      <div class="col-md-1">
          <p>ジャンル名</p>
      </div>
      <div class="col-md-4">
          <%= f.text_field:name,class:"form-control name",placeholder:"ジャンル名" %>
      </div>
      <div class="col-md-4">
          <%= f.submit "変更を保存",class:"btn btn-sm btn-success" %>
      </div>
    <% end %>
 </div>   