<h1>ショッピングカート</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
        </tr>
    </thead>
    <%= @cart_item_all.each do |f| %>
    <tbody>
        
    </tbody>
    <% end %>
</table>