<h2>検索結果</h2>

<table class="table table-hover table-inverse">
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td>
            <%= link_to item_path(item.id) do %>
              <%= item.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>