/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 form {
     padding:30px 30px;
 }
 
 form dl dt {
     width: 200px;
     float:left;
     clear:both;
 }
 
.login-form {
    width:30%;
}
 
.form-juusho {
    width:30%;
}

.footerfixed {
    min-height:100vh;
    position:relative;
    padding-bottom:60px;
    box-sizing:border-box;
}



.foot {
    position:absolute;
    bottom:0;
    width:100%;
    height:10%;
    background-color:whitesmoke;
}


 
li {
    list-style:none;
}

ul {
    padding-left:0;
}


.about {
    text-align:center;
}

.about h1 {
    font-size:70px;
}

.about p {
    font-size:20px;
    line-height:0px;
    margin-top:0px;
}


.in-shop {
    display:block;
     position:relative;
}

.top-comment-block {
    text-align:center;
    position:absolute;
    top:16%;
    left:16%;
    background:rgba(255,255,255,0.4);
}

.new-items {
    display:inline-block;
}

.see-all-items {
    text-align:right;
}

.item-index {
    display:flex;
    flex-wrap:wrap;
}

.flex-item-box {
    width:25%;
    height:25%;
}

.img {
    width:150px;
    height:150px;
    object-fit:cover
}

.top-image {
    width:180px;
    height:180px;
    object-fit:cover
}